<!DOCTYPE html>
<html>

<head>
  <title>Detalles del Carrito</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body class="center">
   <p>mail de usuario:{{user.email}}</p>
  <div>
    <h1 class=" text-center"><span class="badge bg-secondary">Detalles del Carrito</span></h1>
  </div>

  <div class="container-md text-center">
    <ul>
      {{#each cart._doc.products}}
      <li>
        <h2>Producto: {{_doc.title}}</h2>
        <p>Cantidad: {{_doc.quantity}}</p>
        <p>Precio: {{_doc.price}}</p>
      </li>
      {{/each}}

      <p>Total del Carrito: {{cart._doc.totalAmount}}</p>

    </ul>
    <a href="/carts/{{cart._doc._id}}/purchase">Pagar</a>

  </div>

  <a href="/session/logout"><button>Cerrar sesión</button></a>
  <script src="/js/index.js"></script>

</body>

</html>