<h1>Lista de Productos</h1>
<div>
    <ul>
        {{#each products}}
        <li>ID del producto creado: {{id}}</li>
        <li>Titulo del producto: {{this.title}}</li>
        <li>Descripcion del producto: {{this.description}}</li>
        <li>Precio del producto: {{this.price}}</li>
        <li>Codigo del producto: {{this.code}}</li>
        <li>Stock del producto: {{this.stock}}</li>
        <li>Categoria del producto: {{this.category}}</li>
        {{/each}}
    </ul>

</div>