<!DOCTYPE html>
<html>
<head>
  <title>Productos</title>
</head>
<body>
  <div>
  <h1>Bienvenido {{user.name}}</h1>
  <p>{{user.email}}</p>
  <p>Estos son los productos que tenemos para vos</p>
  </div>

  <h2>Listado de Productos</h2>

  <div>
   <ul>
  {{#each products}}
    <li>
      <h2>{{title}}</h2>
      <p>Precio: {{price}}</p>
      <p>Categoría: {{category}}</p>
      
      <a href="/products/{{_id}}">Ver detalles</a>
      
      <button >Agregar al carrito</button>
    </li>
  {{/each}}
</ul>
<div class="pagination">
  {{#each pageRange}}
    <a href="/products?page={{ this }}">{{ this }}</a>
  {{/each}}
</div>

  </div>



  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/index.js"></script>
  <a href="/session/logout"><button>Cerrar sesión</button></a>
</body>
</html>
