<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<h1 class=" container text center">Detalles del Producto</h1>

<div class="card container-sm ">
  <div class="card-body">

    <h3 class="card-title">{{product.title}}</h3>
    <p class="card-text">Id Del producto: {{product._id}}</p>
    <p class="card-text">Descripción: {{product.description}}</p>
    <p class="card-text">Precio: {{product.price}}</p>
    <p class="card-text">Categoría: {{product.category}}</p>
    <p class="card-text">Codigo del producto: {{product.code}}</p>
    <p class="card-text">stock del producto: {{product.stock}}</p>
    <button id="addtocart" data-productid="{{product._id}}" class="btn btn-primary">Agregar al carrito</button>


  </div>
</div>


<script src="/js/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>